[Interface]
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wireguard_keys.stdout_lines[1] }}
Address = {{ wireguard_host }}

{% for cmd in wireguard_network[inventory_hostname].postups | default([]) %}
PostUp = {{ cmd }}
{% endfor %}

{% for cmd in wireguard_network[inventory_hostname].predowns | default([]) %}
PreDown = {{ cmd }}
{% endfor %}

{% for target in wireguard_network[inventory_hostname].targets %}
[Peer]
{% if wireguard_network[target].host == "default" %}
Endpoint = {{ hostvars[target].ansible_default_ipv4.address }}:{{ wireguard_port }}
{% elif wireguard_network[target].host %}
Endpoint = {{ wireguard_network[target].host }}:{{ wireguard_port }}
{% endif %}
PublicKey = {{ hostvars[target].wireguard_keys.stdout_lines[2] }}
PresharedKey = {{ hostvars[play_hosts[0]].wireguard_keys.stdout_lines[0] }}
AllowedIPs = {{ wireguard_routes.result[target] | join(", ") }}
PersistentKeepalive = 25
{% endfor %}
